#wrapper{
	background: #b8e5fa;
}
#graphic_header{
	margin: -30px -30px 0 -30px;
	display:block; 
	position:relative; 
	overflow:hidden; 
	padding:0; 
}
#box_wrapper{
	width: 570px;
	float: left;
	margin-right: 5px;
}
#results_wrapper{
	width: 285px;
	float: right;
	background: #e9f5fa;
	padding: 10px 20px;
	color: #273367;
	min-height: 1450px;
}
#testing{
	padding: 10px;
	background: #ffe67b;
}
#results_wrapper hr{
	border: inset 3px #8db4d1;
	clear:both; 
}
#results_wrapper span{
	font-weight: bold;
	font-size: 23px;
}
#results_wrapper h2{
	text-indent: -9000px;
	width: 285px;
	height: 35px;
	background: url("../img/daily_use.png") no-repeat;
}
#results_wrapper p{
	margin-bottom: 0;
}
.box{
	width: 170px;
	float: left;
	margin: 0 20px 30px 0;
}
.box p{
	margin: 0 0 5px 0;
}
.box img{
	width: 160px;
	height: 160px;
	border: 5px solid #aad3eb;
}
.box-people{
	padding:10px 20px 10px 20px;
	margin-top:30px;
	border-top:#3577c5 groove 2px;
}
.jugs{
	display: block;
	margin: 5px 0 10px;
}

#button_left {
	float: left;
	width: 210px;
	xoutline: 1px solid red;
	height: 60px;
}
#button_right{
	float: left;
	width: 210px;
	xoutline: 1px solid red;
	height: 60px;
}
#button_left{
	margin-right: 12px;
}
#results_wrapper #button_left span {
	text-align: left;
	display: block;
	width: 100px;
	font: 12px verdana, sans-serif;
	margin: -40px 0 0 215px;
}
#results_wrapper #button_right span {
	text-align: left;
	display: block;
	width: 100px;
	font: 12px verdana, sans-serif;
	margin: -40px 0 0 215px;
}
h2{
	color: #333565;
	font-size: 22px;
	margin: 10px 0 5px 0;
}
#save{
	position: relative;
}
.total_individual_percent{
	position: absolute;
	top: 70px;
	left: 20px;
	color: #8eca23;
	font-size: 18px;
}
select{
	font-size: 15px;
	padding: 4px;
	border: 0;
	color: #ffff96;
	background: #333565;
}
label{
	width: auto;
	margin-right: 10px;
}
p.time{
	background: url("../img/time.png") 0 0 no-repeat;
	padding: 0px 0 0 40px;
	height: 33px;
	xoutline: 1px solid white;
}
.q span{
	font-size: 12px;
}
input{
	margin-right: 10px;
}

.q input[type="text"]{
	width: 30px;
}
.q:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
hr{
	border-color: #82cffa;
}
hr.sm-margin{
	margin-bottom: 5px;
}
.intro{
	color: #333565;
}
a{
	color: #2489ca;
}
.last{
	margin-right: 0;
}
.box h3{
	margin-top: 0;
}
.sections{
	padding-top: 10px
}
#pledge{
	background: #daf0fb;
	padding: 45px;
	width: 450px;
	float: right;
}
#sidetext{
	padding: 25px;
	width: 280px;
	float: left;
	background: #daf0fb;
}
ul#pledges, #yourinfo ol, #pledge li, ul#yourinfo{
	margin: 0;
	padding: 0;
	list-style: none;
	padding-left: 0;
}
#pledges li{
	border-top: 2px solid #a3e1fb;
	font: 15px georgia, serif;
}
#pledges li label{
	padding: 10px;
	float: left;
	width: 390px;
}
#yourinfo li{
	margin-bottom: 10px;
}
#yourinfo label{
	font-weight: bold;
}
#yourinfo label span{
	font-weight: normal;
}
#pledge li img{
	display: block;
	cursor: pointer;
	vertical-align: bottom;
	float: left;
	margin-top: 8px;
}

/*-- FORM LAYOUT --*/
form input.short{
	width: 50px;
}
form input[type="text"]{
	padding: 5px;
	border: 1px solid #aaa;
	font-size: 14px;
}
form textarea{
	padding: 5px;
	border: 1px solid #aaa;
	font-size: 14px;
	width: 275px;
}
label,
select,
button,
input[type="submit"]{
	cursor: hand;
	cursor: pointer;
}
li.submit{
	margin-top: 20px;
}
textarea.short{
	height: 50px;
}
.total{
	font-size: 18px;
	color: #3fa3d5;
}
.numeric{}
#household_button, #individual_button{
	cursor: pointer;
}
.caption{
	font-style: italic;
	font-size: 9pt;
	margin-bottom: 10px;
}